<!-- TODO: improve queue table look -->
<!-- TODO: moving text on hover if the text is overflowing -->
<div class="smp-container">
  <div class="smp-queue">
    <div class="ps-3 row mb-4">
      <div class="row-group smp-queue-grid">
        <h2 class="header">#</h2>
        <h2 class="header">Title</h2>
        <h2 class="header">Album</h2>
        <h2 class="header">Length</h2>
      </div>
    </div>
    <ng-container *ngIf="getQueue() | async as queue">
      <div
        class="queue-row p-3"
        [ngClass]="{ playing: item.name === getCurrentTrack() }"
        *ngFor="let item of queue; let i = index"
      >
        <div class="row-group smp-queue-grid smp-queue-row">
          <div>
            <span>{{ i }}</span>
            <!-- FIXME: does not change to pause when song is paused from player -->
            <button
              class="play-select btn btn-outline-success"
              (click)="playSong(item)"
            >
              <fa-icon
                [icon]="
                  item.name === getCurrentTrack() && isPlaying
                    ? faPause
                    : faPlay
                "
              ></fa-icon>
            </button>
          </div>
          <p class="special-text queue-text">
            {{ item.name }}
          </p>
          <p class="special-text queue-text">
            {{ item.album.name }}
          </p>
          <p class="ps-2 queue-text">
            {{ item.duration_ms | time }}
          </p>
          <div>
            <button
              (click)="removeItem(item)"
              class="btn btn-danger btn-sm smp-queue-close-btn"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
