<button class="btn btn-primary" (click)="onNewPlaylist()">New Playlist</button>
<div class="container">
  <div class="playlist-grid">
    <ng-container *ngIf="getPlaylists() | async as playlists">
      <app-playlist
        *ngFor="let playlist of playlists; let i = index"
        [name]="playlist.name"
        [description]="playlist.description"
        [tracks]="playlist.tracks"
        (onDetailsEvent)="openPlaylist(i)"
      ></app-playlist>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</div>
