<div class="container playlist-container">
  <div class="playlist-btn-group">
    <button class="btn btn-primary playlists-button" (click)="onNewPlaylist()">
      New Playlist
    </button>
  </div>
  <div class="playlists">
    <div class="playlist-grid">
      <ng-container *ngIf="getPlaylists() | async as playlists">
        <app-playlist
          *ngFor="let playlist of playlists; let i = index"
          [name]="playlist.name"
          [description]="playlist.description"
          [tracks]="playlist.tracks"
          (onDetailsEvent)="openPlaylist(i)"
        ></app-playlist>
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
