<nav class="side-nav">
  <ul>
    <li id="title-li">
      <a class="nav-link">
        <h1 id="title">SMP</h1>
      </a>
    </li>
    <li>
      <a
        class="side-nav-link mb-1"
        routerLink="/search"
        routerLinkActive="side-nav-link-active"
        ><fa-icon class="fa-xl" [icon]="faHouse"></fa-icon
      ></a>
    </li>
    <li>
      <a
        class="side-nav-link"
        routerLink="/playlists"
        routerLinkActive="side-nav-link-active"
        ><fa-icon class="fa-xl" [icon]="faList"></fa-icon
      ></a>
    </li>
  </ul>
</nav>
