<div class="card shadow" style="width: 14rem">
  <div
    [ngClass]="{ 'playlist-card-imgs': this.tracks.length >= 4 }"
    class="card-img-top"
  >
    <img
      class="card-img"
      src="{{ track.album.images[1].url }}"
      alt="{{ track.name }} Image"
      *ngFor="let track of previewImages()"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text mb-2">
      {{ description }}
    </p>
    <a class="btn btn-sm btn-success float-end" (click)="onQueue()">Queue</a>
    <a class="btn btn-sm btn-primary float-end me-2" (click)="onClick()"
      >Details</a
    >
  </div>
</div>
