.player {
  background-color: #fff;
  padding: 20px;
}

.track-font {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.artist-font {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.default-img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 10px;
}

.preview-img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 10px;
}

/* @media only screen and (max-width: 35.9375em) {
  .preview-img {
    height: auto;
    width: 150px;
  }

  .default-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 48.125em) {
  .preview-img {
    height: auto;
    width: 250px;
  }

  .default-img {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 28.25em) {
  .preview-img {
    height: auto;
    width: 150px;
  }

  .default-img {
    height: 150px;
    width: 150px;
  }
} */
