.player {
  background-color: #fff;
  padding: 5rem;
  border-radius: 10px;
}

.track-font {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.artist-font {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.default-img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

.preview-img {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
}

/* @media only screen and (max-width: 35.9375em) {
  .preview-img {
    height: auto;
    width: 150px;
  }

  .default-img {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 48.125em) {
  .preview-img {
    height: auto;
    width: 250px;
  }

  .default-img {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 28.25em) {
  .preview-img {
    height: auto;
    width: 150px;
  }

  .default-img {
    height: 150px;
    width: 150px;
  }
} */

/* BUTTONS */
.play-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.reverse-button {
  transform: rotate(-180deg);
  cursor: pointer;
  color: rgb(92, 92, 92);
}

.reverse-button:active {
  color: black;
}

.forward-button {
  cursor: pointer;
  color: rgb(92, 92, 92);
}

.forward-button:active {
  color: black;
}
