<div class="overlay">
  <div class="modal smp-playlist-modal" tabindex="-1">
    <div class="testing-modal modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title me-auto">
            {{
              playlistForm.get("name")?.value
                ? playlistForm.get("name")?.value
                : "New Playlist"
            }}
          </h5>
          <button
            (click)="onDelete()"
            type="button"
            class="btn btn-outline-danger"
          >
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </button>
          <button
            type="button"
            style="margin-left: 0.7rem"
            class="btn-close"
            aria-label="Close"
            (click)="onClose()"
          ></button>
        </div>
        <div class="modal-body">
          <form class="mb-3" [formGroup]="playlistForm">
            <div class="form-group">
              <label class="form-label" for="name">Playlist Name</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                formControlName="name"
                [class.is-invalid]="
                  playlistForm.get('name')?.invalid &&
                  playlistForm.get('name')?.touched
                "
              />
              <span
                *ngIf="
                  playlistForm.get('name')?.hasError('required') &&
                  playlistForm.get('name')?.touched
                "
                class="text-danger"
                >Please enter a playlist name.</span
              >
              <span
                *ngIf="playlistForm.get('name')?.hasError('forbiddenName')"
                class="text-danger"
                >Existing playlist already has that name</span
              >
            </div>
            <div class="form-group">
              <label class="form-label" for="description">Description</label>
              <textarea
                class="form-control"
                formControlName="description"
                name="description"
                id="description"
                cols="30"
                rows="3"
                [class.is-invalid]="
                  playlistForm.get('description')?.invalid &&
                  playlistForm.get('description')?.touched
                "
              ></textarea>
              <span
                *ngIf="
                  playlistForm.get('description')?.hasError('required') &&
                  playlistForm.get('description')?.touched
                "
                class="text-danger"
                >Please enter a description.</span
              >
            </div>
          </form>
          <hr />
          <!-- TODO: need to improve look of searcher inside of the modal -->
          <app-searcher [searchType]="'playlist'"></app-searcher>
          <ng-container *ngIf="tracks.length > 0">
            <div class="playlist-table">
              <div class="playlist-row">
                <!-- <div class="playlist-col playlist-header"></div> -->
                <div
                  class="playlist-col"
                  *ngFor="let track of tracks; let i = index"
                  [ngClass]="{ 'first-song': i === 0 }"
                >
                  <img
                    class="playlist-img"
                    src="{{ track.album.images[1].url }}"
                    alt="{{ track.name }} Image"
                  />
                  <h4>{{ track.name }}</h4>
                  <!-- TODO: implement functionality in buttons -->
                  <div class="playlist-btns">
                    <button
                      (click)="onDeleteTrack(i)"
                      class="btn btn-sm btn-danger"
                    >
                      X
                    </button>
                    <button class="btn btn-sm btn-secondary">Queue</button>
                    <button class="btn btn-sm btn-success">Play</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="!playlistForm.valid || tracks.length === 0"
            (click)="onSave()"
            type="button"
            class="btn btn-primary"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
