.smp-container {
  height: 27.425rem;
}

.smp-queue {
  width: 100%;
  height: 100%;
}

.queue-background {
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.1);
  border-radius: 20px;
}

/* .queue-row:hover {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
} */

.queue-row {
  border-radius: 10px;
}

.smp-queue-grid {
  display: grid;
  grid-template-columns: 10% 10% 10% 1fr 1fr 1fr 1fr;
  background-color: #fff;
  height: 5rem;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 15px;
}

.smp-queue-row {
  align-items: center;
}

.song-preview-img {
  width: 50px;
  height: auto;
  border-radius: 8px;
}

/* .row-group {
  margin-left: 3rem;
} */

/* Headers */
.header {
  font-size: 0.8rem;
}

.special-text {
  overflow: hidden;
  white-space: nowrap;
}

.smp-queue-close-btn {
  position: relative;
  left: 80%;
}

.queue-text {
  font-size: 0.8rem;
}

/* Play button */
.play-select:hover {
  cursor: pointer;
}

/* text scroll animation if text overflows */
.auto-scroll:hover {
  position: relative;
  animation-name: autoscroll;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes autoscroll {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
