<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="track-searcher" class="form-label"
          >Search for a track:</label
        >
        <input
          type="text"
          id="track-searcher"
          name="track-searcher"
          class="form-control"
          [(ngModel)]="keywordSearch"
          (keyup)="onSearch()"
        />
      </div>
      <div class="dropdown mt-1">
        <ul
          class="dropdown-menu custom-dropdown-menu"
          [class.show]="showResults"
        >
          <li class="dropdown-item">A test item!</li>
        </ul>
      </div>
    </div>
  </div>
</div>
