<div
  class="overlay"
  *ngIf="results$ !== undefined"
  (click)="onOverlayClick()"
></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 searcher-container">
      <span
        class="alert alert-danger"
        *ngIf="resultsErr$ | async as resultsErr"
        >{{ resultsErr.message }}</span
      >
      <div class="form-group searcher-form-group">
        <fa-icon
          id="searcher-icon"
          class="fa-lg"
          [icon]="faMagnifyingGlass"
        ></fa-icon>
        <input
          type="text"
          id="track-searcher"
          name="track-searcher"
          placeholder="Search"
          [(ngModel)]="searcherValue"
          (keyup)="onSearch(searcherValue)"
        />
      </div>
      <div class="dropdown smp-dropdown">
        <ul
          class="dropdown-menu custom-dropdown-menu"
          [class.show]="searcherValue"
        >
          <div *ngIf="loading$ | async; else results" class="loader"></div>
          <ng-template #results>
            <ng-container *ngIf="results$ | async as results">
              <div *ngFor="let item of results">
                <li
                  class="dropdown-item d-flex align-items-center p-3"
                  (click)="onSelectTrack(item)"
                >
                  <img
                    style="width: 100px; height: auto"
                    src="{{ item.album.images[1].url }}"
                    alt="{{ item.name + ' album cover' }}"
                  />
                  <h3 class="ms-3 me-auto">{{ item.name }}</h3>
                </li>
              </div>
            </ng-container>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <button style="position: absolute; z-index: 100" (click)="test()">
  Click Me
</button> -->
