/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    hsl(33, 100%, 50%, 0.3),
    hsl(235, 100%, 81%, 0.3)
  );
}

* {
  font-family: "Roboto Mono", monospace;
}
